flows (1).json
[
    {
        "id": "f15db00e96bf089b",
        "type": "tab",
        "label": "Flow 5",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "24e060bce9f62041",
        "type": "function",
        "z": "f15db00e96bf089b",
        "name": "function 7",
        "func": "if (msg.payload > 80 && msg.payload < 100 ) {\n    msg.payload = 0;\n    //System.out.println(\"Moter will be OFF\");\n}\n\nelse if (msg.payload > 60) {\n    msg.payload = 1;\n   //System.out.println(\"Moter will be ON for 3 hours\");\n}\n\nelse if (msg.payload > 20) {\n    msg.payload = 1;\n    //System.out.println(\"Moter will be ON for 8 hours\");\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 500,
        "wires": [
            [
                "0127248df168b0c1",
                "acf9ee763dbe265f"
            ]
        ]
    },
    {
        "id": "80a27f02aab60414",
        "type": "mqtt out",
        "z": "f15db00e96bf089b",
        "name": "",
        "topic": "moter/field1",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c6b7f42765f8bc63",
        "x": 770,
        "y": 540,
        "wires": []
    },
    {
        "id": "df786212da97795f",
        "type": "ui_switch",
        "z": "f15db00e96bf089b",
        "name": "",
        "label": "Moter-Manual",
        "tooltip": "",
        "group": "b1e3c2a0addec107",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "true",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 540,
        "y": 540,
        "wires": [
            [
                "80a27f02aab60414"
            ]
        ]
    },
    {
        "id": "66549565fab75561",
        "type": "ui_gauge",
        "z": "f15db00e96bf089b",
        "name": "",
        "group": "b095c6abafd89bf7",
        "order": 6,
        "width": 5,
        "height": 4,
        "gtype": "gage",
        "title": "Water",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#e93535",
            "#e6e600",
            "#28fe0b"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 290,
        "y": 420,
        "wires": []
    },
    {
        "id": "a303a62e3d29e11c",
        "type": "debug",
        "z": "f15db00e96bf089b",
        "name": "debug 31",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 300,
        "y": 460,
        "wires": []
    },
    {
        "id": "d8ea6f2cf37f3481",
        "type": "mqtt in",
        "z": "f15db00e96bf089b",
        "name": "",
        "topic": "water_level",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "c6b7f42765f8bc63",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 520,
        "wires": [
            [
                "66549565fab75561",
                "a303a62e3d29e11c",
                "24e060bce9f62041",
                "c81c43a23cdf9371"
            ]
        ]
    },
    {
        "id": "b3c97541599d71e1",
        "type": "ui_gauge",
        "z": "f15db00e96bf089b",
        "name": "",
        "group": "b095c6abafd89bf7",
        "order": 1,
        "width": 5,
        "height": 4,
        "gtype": "gage",
        "title": "Temprature",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "60",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 330,
        "y": 40,
        "wires": []
    },
    {
        "id": "2cce1c1be3b9c049",
        "type": "ui_gauge",
        "z": "f15db00e96bf089b",
        "name": "",
        "group": "b095c6abafd89bf7",
        "order": 2,
        "width": 5,
        "height": 4,
        "gtype": "gage",
        "title": "Humidity",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b0b3",
            "#e6e600",
            "#55e421"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 780,
        "y": 40,
        "wires": []
    },
    {
        "id": "a608f6e1b93da5c5",
        "type": "mqtt in",
        "z": "f15db00e96bf089b",
        "name": "",
        "topic": "water_moisture",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "c6b7f42765f8bc63",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1020,
        "y": 40,
        "wires": [
            [
                "cea56e2e7963591f",
                "23e73c1b3fe27767"
            ]
        ]
    },
    {
        "id": "23e73c1b3fe27767",
        "type": "debug",
        "z": "f15db00e96bf089b",
        "name": "debug 30",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1240,
        "y": 80,
        "wires": []
    },
    {
        "id": "cea56e2e7963591f",
        "type": "ui_gauge",
        "z": "f15db00e96bf089b",
        "name": "",
        "group": "b095c6abafd89bf7",
        "order": 5,
        "width": 5,
        "height": 4,
        "gtype": "gage",
        "title": "Moisture",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#f33312",
            "#e6e600",
            "#11ff00"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1240,
        "y": 40,
        "wires": []
    },
    {
        "id": "113b686f8c35ffc2",
        "type": "debug",
        "z": "f15db00e96bf089b",
        "name": "debug 32",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 320,
        "y": 80,
        "wires": []
    },
    {
        "id": "bde88641e59e24ed",
        "type": "debug",
        "z": "f15db00e96bf089b",
        "name": "debug 33",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 80,
        "wires": []
    },
    {
        "id": "8850ca6596d8d78a",
        "type": "mqtt in",
        "z": "f15db00e96bf089b",
        "name": "",
        "topic": "field/temprature",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c6b7f42765f8bc63",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 40,
        "wires": [
            [
                "b3c97541599d71e1",
                "113b686f8c35ffc2"
            ]
        ]
    },
    {
        "id": "f77b70afaf9ebcc4",
        "type": "mqtt in",
        "z": "f15db00e96bf089b",
        "name": "",
        "topic": "field/humidity",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "c6b7f42765f8bc63",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 570,
        "y": 40,
        "wires": [
            [
                "2cce1c1be3b9c049",
                "bde88641e59e24ed"
            ]
        ]
    },
    {
        "id": "309f3a89c881467c",
        "type": "mqtt out",
        "z": "f15db00e96bf089b",
        "name": "",
        "topic": "water/flow",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c6b7f42765f8bc63",
        "x": 760,
        "y": 660,
        "wires": []
    },
    {
        "id": "0127248df168b0c1",
        "type": "ui_switch",
        "z": "f15db00e96bf089b",
        "name": "",
        "label": "Moter-Auto",
        "tooltip": "",
        "group": "b1e3c2a0addec107",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "topicType": "str",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 530,
        "y": 500,
        "wires": [
            [
                "80a27f02aab60414",
                "3292069e2ac6783c",
                "aa6971f7bd67353a"
            ]
        ]
    },
    {
        "id": "7938c669837e1160",
        "type": "ui_switch",
        "z": "f15db00e96bf089b",
        "name": "",
        "label": "Water-Flow/auto",
        "tooltip": "",
        "group": "b1e3c2a0addec107",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "topicType": "str",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 540,
        "y": 620,
        "wires": [
            [
                "309f3a89c881467c",
                "996c47e490608250"
            ]
        ]
    },
    {
        "id": "563382082490fef6",
        "type": "mqtt in",
        "z": "f15db00e96bf089b",
        "name": "",
        "topic": "water/flow",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "c6b7f42765f8bc63",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 80,
        "y": 820,
        "wires": [
            [
                "12a07418c8750933"
            ]
        ]
    },
    {
        "id": "d9facbe413b3a340",
        "type": "mqtt in",
        "z": "f15db00e96bf089b",
        "name": "",
        "topic": "moter/field1",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c6b7f42765f8bc63",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 530,
        "y": 820,
        "wires": [
            [
                "ff3eb5b7f20ffd2e"
            ]
        ]
    },
    {
        "id": "12a07418c8750933",
        "type": "debug",
        "z": "f15db00e96bf089b",
        "name": "debug 34",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 300,
        "y": 820,
        "wires": []
    },
    {
        "id": "ff3eb5b7f20ffd2e",
        "type": "debug",
        "z": "f15db00e96bf089b",
        "name": "debug 35",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 820,
        "wires": []
    },
    {
        "id": "acf9ee763dbe265f",
        "type": "debug",
        "z": "f15db00e96bf089b",
        "name": "debug 37",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 460,
        "wires": []
    },
    {
        "id": "c81c43a23cdf9371",
        "type": "function",
        "z": "f15db00e96bf089b",
        "name": "function 8",
        "func": "if (msg.payload >95 ) {\n    msg.payload = 1;\n    //System.out.println(\"Moter will be OFF\");\n}\n\nelse {\n    msg.payload = 0;\n    //System.out.println(\"Moter will be ON for 8 hours\");\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 600,
        "wires": [
            [
                "7938c669837e1160",
                "491535898859d3a8"
            ]
        ]
    },
    {
        "id": "491535898859d3a8",
        "type": "debug",
        "z": "f15db00e96bf089b",
        "name": "debug 38",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 580,
        "wires": []
    },
    {
        "id": "abe711211d8f122d",
        "type": "ui_switch",
        "z": "f15db00e96bf089b",
        "name": "",
        "label": "Water-Flow/manual",
        "tooltip": "",
        "group": "b1e3c2a0addec107",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 550,
        "y": 660,
        "wires": [
            [
                "309f3a89c881467c"
            ]
        ]
    },
    {
        "id": "e615d0b1d74d7ffd",
        "type": "mqtt in",
        "z": "f15db00e96bf089b",
        "name": "",
        "topic": "pH_soil",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c6b7f42765f8bc63",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 70,
        "y": 180,
        "wires": [
            [
                "32aaf7be25661a49",
                "30d78dad69727cb5",
                "5240f31f74e6b32a"
            ]
        ]
    },
    {
        "id": "32aaf7be25661a49",
        "type": "ui_gauge",
        "z": "f15db00e96bf089b",
        "name": "",
        "group": "b095c6abafd89bf7",
        "order": 3,
        "width": 5,
        "height": 4,
        "gtype": "gage",
        "title": "pH",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "14",
        "colors": [
            "#f01000",
            "#00e604",
            "#142ce6"
        ],
        "seg1": "5",
        "seg2": "7",
        "className": "",
        "x": 250,
        "y": 140,
        "wires": []
    },
    {
        "id": "30d78dad69727cb5",
        "type": "debug",
        "z": "f15db00e96bf089b",
        "name": "debug 47",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 260,
        "y": 220,
        "wires": []
    },
    {
        "id": "effaa670217c9d22",
        "type": "mqtt in",
        "z": "f15db00e96bf089b",
        "name": "",
        "topic": "sunlight_index",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "c6b7f42765f8bc63",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 320,
        "wires": [
            [
                "1ca016a4fc1de66e",
                "ba773f2f0137c57e",
                "efaa178ea1adbc17"
            ]
        ]
    },
    {
        "id": "ba773f2f0137c57e",
        "type": "debug",
        "z": "f15db00e96bf089b",
        "name": "debug 36",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 300,
        "y": 360,
        "wires": []
    },
    {
        "id": "1ca016a4fc1de66e",
        "type": "ui_gauge",
        "z": "f15db00e96bf089b",
        "name": "",
        "group": "b095c6abafd89bf7",
        "order": 4,
        "width": 5,
        "height": 4,
        "gtype": "gage",
        "title": "Sunlight",
        "label": "UVI",
        "format": "{{value}}",
        "min": "00",
        "max": "1450",
        "colors": [
            "#12f337",
            "#e6e600",
            "#ff0000"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 300,
        "y": 280,
        "wires": []
    },
    {
        "id": "efaa178ea1adbc17",
        "type": "function",
        "z": "f15db00e96bf089b",
        "name": "function 10",
        "func": "if (msg.payload < 500) {\n    msg.payload = 1;\n}\n\nelse {\n    msg.payload = 0;\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 320,
        "wires": [
            [
                "f2569c6b8e67e90e",
                "42520096fe9a623e"
            ]
        ]
    },
    {
        "id": "42520096fe9a623e",
        "type": "debug",
        "z": "f15db00e96bf089b",
        "name": "debug 48",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 280,
        "wires": []
    },
    {
        "id": "f2569c6b8e67e90e",
        "type": "ui_switch",
        "z": "f15db00e96bf089b",
        "name": "",
        "label": "insecticides_auto",
        "tooltip": "",
        "group": "b1e3c2a0addec107",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "topicType": "str",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 550,
        "y": 320,
        "wires": [
            [
                "c9d06f2ffbd2a0aa",
                "9144b75e8da3a6d9",
                "a37b437e707c8fb9"
            ]
        ]
    },
    {
        "id": "fc14b1f6602e426b",
        "type": "ui_switch",
        "z": "f15db00e96bf089b",
        "name": "",
        "label": "insecticides_manual",
        "tooltip": "",
        "group": "b1e3c2a0addec107",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 560,
        "y": 360,
        "wires": [
            [
                "c9d06f2ffbd2a0aa"
            ]
        ]
    },
    {
        "id": "c9d06f2ffbd2a0aa",
        "type": "mqtt out",
        "z": "f15db00e96bf089b",
        "name": "",
        "topic": "insecticides",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c6b7f42765f8bc63",
        "x": 790,
        "y": 360,
        "wires": []
    },
    {
        "id": "f86d7e4d258b4580",
        "type": "debug",
        "z": "f15db00e96bf089b",
        "name": "debug 49",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1240,
        "y": 820,
        "wires": []
    },
    {
        "id": "7220c7b54fb8268b",
        "type": "mqtt in",
        "z": "f15db00e96bf089b",
        "name": "",
        "topic": "insecticides",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "c6b7f42765f8bc63",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 990,
        "y": 820,
        "wires": [
            [
                "f86d7e4d258b4580"
            ]
        ]
    },
    {
        "id": "8ed9b9b04ebcf39e",
        "type": "debug",
        "z": "f15db00e96bf089b",
        "name": "debug 50",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 180,
        "wires": []
    },
    {
        "id": "727a7e449ce191ea",
        "type": "function",
        "z": "f15db00e96bf089b",
        "name": "function 30",
        "func": "if (msg.payload == 1) {\n    var content = \"Please fertilize your crop\"\n    msg.payload = {\n        \"chatId\": 1447361211,\n        \"sentMessageld\": 24,\n        \"type\": \"message\",\n        \"content\": content\n    }\n\n    return msg;\n}\n\nelse {\n    msg.payload = 0;\n    return 0;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 180,
        "wires": [
            [
                "223ec34c610179d4",
                "26ad903bf26a84bd"
            ]
        ]
    },
    {
        "id": "9144b75e8da3a6d9",
        "type": "function",
        "z": "f15db00e96bf089b",
        "name": "function 31",
        "func": "if (msg.payload == 1){\n    var content = \"Insecticides was ON\"\n    msg.payload = {\n        \"chatId\": 1439850727,\n        \"sentMessageld\": 24,\n        \"type\": \"message\",\n        \"content\": content\n    }\n    return msg;\n}\n\nelse{\n    msg.payload = 0\n\n    return 0;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 320,
        "wires": [
            [
                "c8fa5e804bf7cb42",
                "86e95a88c2ccdcc5"
            ]
        ]
    },
    {
        "id": "3292069e2ac6783c",
        "type": "function",
        "z": "f15db00e96bf089b",
        "name": "function 32",
        "func": "if (msg.payload == 1) {\n    var content = \"Water motor was ON\"\n    msg.payload = {\n        \"chatId\": 1439850727,\n        \"sentMessageld\": 24,\n        \"type\": \"message\",\n        \"content\": content\n    }\n\n    return msg;\n}\n\nelse if (msg.payload == 0){\n    var content = \"Water motor was OFF\"\n    msg.payload = {\n        \"chatId\": 1439850727,\n        \"sentMessageld\": 24,\n        \"type\": \"message\",\n        \"content\": content\n    }\n\n    return msg;\n}\n\nelse {\n    msg.payload = 0\n\n    return 0;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 500,
        "wires": [
            [
                "29fb689aad9469d7",
                "19cd2754acc3d6ad"
            ]
        ]
    },
    {
        "id": "996c47e490608250",
        "type": "function",
        "z": "f15db00e96bf089b",
        "name": "function 33",
        "func": "if (msg.payload == 1) {\n    var content = \"Water was flowing out the field\"\n    msg.payload = {\n        \"chatId\": 1439850727,\n        \"sentMessageld\": 24,\n        \"type\": \"message\",\n        \"content\": content\n    }\n\n    return msg;\n}\n\nelse if (msg.payload == 0) {\n    var content = \"Water was not flowing out the field\"\n    msg.payload = {\n        \"chatId\": 1439850727,\n        \"sentMessageld\": 24,\n        \"type\": \"message\",\n        \"content\": content\n    }\n\n    return msg;\n}\n\nelse {\n    msg.payload = 0\n\n    return 0;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 620,
        "wires": [
            [
                "9d62bcd1ed5e0f1e",
                "8b87ab90c5d82283"
            ]
        ]
    },
    {
        "id": "223ec34c610179d4",
        "type": "telegram sender",
        "z": "f15db00e96bf089b",
        "name": "",
        "bot": "e1928e15ede6c9c4",
        "haserroroutput": false,
        "outputs": 1,
        "x": 730,
        "y": 180,
        "wires": [
            [
                "8ed9b9b04ebcf39e"
            ]
        ]
    },
    {
        "id": "c8fa5e804bf7cb42",
        "type": "telegram sender",
        "z": "f15db00e96bf089b",
        "name": "",
        "bot": "e1928e15ede6c9c4",
        "haserroroutput": false,
        "outputs": 1,
        "x": 1030,
        "y": 320,
        "wires": [
            [
                "5bcc3c8cfc76d626"
            ]
        ]
    },
    {
        "id": "29fb689aad9469d7",
        "type": "telegram sender",
        "z": "f15db00e96bf089b",
        "name": "",
        "bot": "e1928e15ede6c9c4",
        "haserroroutput": false,
        "outputs": 1,
        "x": 1010,
        "y": 500,
        "wires": [
            [
                "55186c37ced9078a"
            ]
        ]
    },
    {
        "id": "9d62bcd1ed5e0f1e",
        "type": "telegram sender",
        "z": "f15db00e96bf089b",
        "name": "",
        "bot": "e1928e15ede6c9c4",
        "haserroroutput": false,
        "outputs": 1,
        "x": 1010,
        "y": 620,
        "wires": [
            [
                "5b409b4d43e771ea"
            ]
        ]
    },
    {
        "id": "5240f31f74e6b32a",
        "type": "function",
        "z": "f15db00e96bf089b",
        "name": "function 34",
        "func": "if (msg.payload < 5){\n    msg.payload = 1\n}\nelse {\n    msg.payload = 0\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 180,
        "wires": [
            [
                "727a7e449ce191ea",
                "a4530df546c830b5"
            ]
        ]
    },
    {
        "id": "a4530df546c830b5",
        "type": "debug",
        "z": "f15db00e96bf089b",
        "name": "debug 55",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 220,
        "wires": []
    },
    {
        "id": "26ad903bf26a84bd",
        "type": "debug",
        "z": "f15db00e96bf089b",
        "name": "debug 56",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 140,
        "wires": []
    },
    {
        "id": "a37b437e707c8fb9",
        "type": "debug",
        "z": "f15db00e96bf089b",
        "name": "debug 57",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 280,
        "wires": []
    },
    {
        "id": "5bcc3c8cfc76d626",
        "type": "debug",
        "z": "f15db00e96bf089b",
        "name": "debug 58",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1260,
        "y": 320,
        "wires": []
    },
    {
        "id": "86e95a88c2ccdcc5",
        "type": "debug",
        "z": "f15db00e96bf089b",
        "name": "debug 59",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 280,
        "wires": []
    },
    {
        "id": "55186c37ced9078a",
        "type": "debug",
        "z": "f15db00e96bf089b",
        "name": "debug 60",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1240,
        "y": 500,
        "wires": []
    },
    {
        "id": "5b409b4d43e771ea",
        "type": "debug",
        "z": "f15db00e96bf089b",
        "name": "debug 61",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1240,
        "y": 620,
        "wires": []
    },
    {
        "id": "19cd2754acc3d6ad",
        "type": "debug",
        "z": "f15db00e96bf089b",
        "name": "debug 62",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 460,
        "wires": []
    },
    {
        "id": "8b87ab90c5d82283",
        "type": "debug",
        "z": "f15db00e96bf089b",
        "name": "debug 63",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 580,
        "wires": []
    },
    {
        "id": "aa6971f7bd67353a",
        "type": "debug",
        "z": "f15db00e96bf089b",
        "name": "debug 64",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 460,
        "wires": []
    },
    {
        "id": "243962c282d5260e",
        "type": "mqtt in",
        "z": "f15db00e96bf089b",
        "name": "",
        "topic": "camera",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "c6b7f42765f8bc63",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 760,
        "wires": [
            [
                "23ebed3c2d85700d",
                "e152326146224102"
            ]
        ]
    },
    {
        "id": "23ebed3c2d85700d",
        "type": "debug",
        "z": "f15db00e96bf089b",
        "name": "debug 109",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 310,
        "y": 720,
        "wires": []
    },
    {
        "id": "e152326146224102",
        "type": "function",
        "z": "f15db00e96bf089b",
        "name": "function 55",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 760,
        "wires": [
            [
                "7935b9cb86515f16",
                "18a48af794f007d4"
            ]
        ]
    },
    {
        "id": "7935b9cb86515f16",
        "type": "debug",
        "z": "f15db00e96bf089b",
        "name": "debug 110",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 720,
        "wires": []
    },
    {
        "id": "204eb92dd7a16896",
        "type": "telegram sender",
        "z": "f15db00e96bf089b",
        "name": "",
        "bot": "e1928e15ede6c9c4",
        "haserroroutput": false,
        "outputs": 1,
        "x": 790,
        "y": 760,
        "wires": [
            [
                "aa7531293cbc6d75"
            ]
        ]
    },
    {
        "id": "aa7531293cbc6d75",
        "type": "debug",
        "z": "f15db00e96bf089b",
        "name": "debug 111",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 990,
        "y": 760,
        "wires": []
    },
    {
        "id": "18a48af794f007d4",
        "type": "function",
        "z": "f15db00e96bf089b",
        "name": "function 56",
        "func": "if (msg.payload == 3) {\n    var content = \"Crop is ready to harvest\"\n    msg.payload = {\n        \"chatId\": 1439850727,\n        \"sentMessageld\": 24,\n        \"type\": \"message\",\n        \"content\": content\n    }\n\n    return msg;\n}\n\nelse if (msg.payload == 2) {\n    var content = \"You can stop culticating the crop\"\n    msg.payload = {\n        \"chatId\": 1439850727,\n        \"sentMessageld\": 24,\n        \"type\": \"message\",\n        \"content\": content\n    }\n\n    return msg;\n}\n\nelse if (msg.payload == 1) {\n    var content = \"Crop is matured\"\n    msg.payload = {\n        \"chatId\": 1439850727,\n        \"sentMessageld\": 24,\n        \"type\": \"message\",\n        \"content\": content\n    }\n\n    return msg;\n}\n\n/*else if (msg.payload == 0) {\n    var content = \"Crop is not matured\"\n    msg.payload = {\n        \"chatId\": 1439850727,\n        \"sentMessageld\": 24,\n        \"type\": \"message\",\n        \"content\": content\n    }\n\n    return msg;\n}*/\n\nelse {\n    msg.payload = 0\n\n    return 0;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 760,
        "wires": [
            [
                "204eb92dd7a16896"
            ]
        ]
    },
    {
        "id": "c6b7f42765f8bc63",
        "type": "mqtt-broker",
        "name": "Hive MQ",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "b1e3c2a0addec107",
        "type": "ui_group",
        "name": "Controls",
        "tab": "3306fa943c70890e",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "b095c6abafd89bf7",
        "type": "ui_group",
        "name": "Monitor",
        "tab": "3306fa943c70890e",
        "order": 2,
        "disp": true,
        "width": 10,
        "collapse": false,
        "className": ""
    },
    {
        "id": "e1928e15ede6c9c4",
        "type": "telegram bot",
        "botname": "https://t.me/nodered8723_bot",
        "usernames": "Prince",
        "chatids": "1234567890",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksprotocol": "socks5",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "3306fa943c70890e",
        "type": "ui_tab",
        "name": "Field_monior",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]